.label-header {
    font-family: Calibri;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: white;
    text-decoration: none;
    -webkit-text-shadow: 1px 1px 1px #8EB2CC;
    text-shadow: 1px 1px 1px #8EB2CC;
}
.label-user-name {
     color : white;
    font-weight: bold;
    margin: 0px 14px 0px 0px;
}
.txt-user-name {
     color : white;
    font-weight: normal;
    margin: 0px 14px 0px 0px;
}
.combo-language {
    color : white;
    font-weight: bold;
    margin: 0px 14px 0px 0px;
}

.menu-folder-edit
{
    background-image: url(./icons/16x16/folder-edit.png) !important;
}

.menu-folder-add
{
    background-image: url(./icons/16x16/folder-add.png) !important;
}

.menu-folder-delete 
{
    background-image: url(./icons/16x16/folder-delete.png) !important;
}

.menu-layer-add
{
    background-image: url(./icons/16x16/layer-add.png) !important;
}

.menu-layer-order
{
    background-image: url(./icons/16x16/layer-order.png) !important;
}
.menu-layer-edit 
{
    background-image: url(./icons/16x16/layer-edit.png) !important;
}

.menu-layer-delete 
{
    background-image: url(./icons/16x16/layer-delete.png) !important;
}







